= link_to report_path(report) do
  .card
    - if report.eyecatch.attached?
      .card_image
        = image_tag report.eyecatch 
    .card_content
      .card_title
        = report.title
      .card_heart
        = image_tag 'heart.svg'
        %span= report.point_count
      .card_detail
        = image_tag report.user.avatar_image
        %div
          %p= report.author_name
          %p= report.display_created_at
