.report
  %h1.report_title= @report.title
  .report_detail
    = image_tag 'default-avatar.png'
    %div
      %p= @report.author_name
      %p= @report.display_created_at
    - if user_signed_in? && current_user.has_written?(@report)
      .report_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_report_path(@report)
            = link_to '削除する', report_path(@report), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .report_content
    = @report.content
  .report_heart
    = image_tag 'heart.svg'

.report
  %h2 コメント一覧
  - @comments.each do |comment|
    .report_comment
      %p= comment.content



.container
  = link_to new_report_comment_path(@report) do
    .btn-secondary
      コメントを追加