<!DOCTYPE html>
<html>
  <head>
    <title>RoMS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header class="header">
      <p class="header_pageTitle">RoMS<span class="header_pageSubtitle">Room of M's Students</span></p>
      <div class="dropdown">
        <%= image_tag 'default-avatar-male.png', class: 'header_avatar dropbtn' %>
        <div class="dropdown-content">
          <a href="#">プロフィール</a>
          <a href="#">ログアウト</a>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>

